# Stack
.stack-work/
*.cabal

# Project
/glados
/ekc
/ek
/ek-lsp

# Temp files
*~
*.hi

# Coverage
test/coverage/

#Lit
test/functional/.lit_test_times.txt
test/functional/Output

# macOS Finder files
.DS_Store

# Cmake build directory
build/

# clangd directory
.cache/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Coverage data
coverage_html/
*.profdata
*.profraw
*.profraw.*
Output/
*.lit*
test/functional/lit.cfg
coverage.txt

# IDE files
.idea/
.vscode/
